@keyframes loadLine {
  0% {  width: 0%;  }
  75% {  width: 400px;  }
  100% {  width: 400px;  }
}

@keyframes shrinkLine {
  0% {  width: 400px;  }
  75% {  width: 400px;  }
  100% {  width: 0%;  }
}

@keyframes splitScreen {
  0% {  height: 0%; opacity: 1;  }
  70% {  height: 0%;  }
  85% {  height: 100%;  }
  90% {  opacity: 1;  }
  94% {  opacity: 0;  }
}

@keyframes slideToLeft {
  0% {  left: 0%;  }
  90% {  left: 0%;  }
  100% {  left: -50%;  }
}

@keyframes slideToRight {
  0% {  right: 0%;  }
  90% {  right: 0%;  }
  100% {  right: -50%;  }
}

@keyframes showLogo {
  0% {  bottom: -50px; opacity: 1;  }
  45% {  bottom: 100px;  }
  95% {  opacity: 1;  }
  100% {  opacity: 0;  }
}

@keyframes colorLogo {
  0% {  fill: white;  }
  80% {  fill: white;  }
  100% {  fill: #111111;  }
}

@keyframes fadeBG {
  0% {  background-color: #101010;  }
  75% {  background-color: #101010;  }
  100% {  background-color: #2A2A2A;  }
}