@media only screen and (max-height: 900px) {
  .sidepanel {
    .offerte {
      height: auto !important;
      .content {
        -webkit-transform: none !important;
        -moz-transform: none !important;
        -ms-transform: none !important;
        -o-transform: none !important;
        transform: none !important;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .detailed-project {
    padding: 70px 20px !important;
    &.active {
    }
  }
  .windows {
    .window {
      section {
        padding: 50px 0 !important;
        &.projects {
          .projectsContainer {
            .project {
              width: 100% !important;
            }
          }
        }
        &.diensten {
          .dienstenContentContainer {
            .dienstenContent {
              padding: 50px 0 !important;
            }
          }
        }
        &.about {
          .team {
            .member {
              width: calc(50% - 10px) !important
            }
          }
        }
        &.contact {
          a, input[type=submit] {
            width: 100% !important;
            margin-bottom: 10px;
            text-align: center;
            font-size: 13px;
          }
          #mapsBtn {
            position: relative !important;
            bottom: 35px !important;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 500px) and (max-width: 768px) {
  .inner {
    max-width: 500px !important;
  }
  .windows {
    .window {
      section {
        &.projects {
          .projectsContainer {
            .project {
              //width: calc(calc(100%/3) - 10px) !important;
              .projectImage {
                height: auto !important;
                &:before {
                  content: '';
                  padding-bottom: 100%;
                  display: block;
                }
              }
            }
          }
        }
        &.about {
          .team {
            max-width: 550px;
            margin: 0 auto;
            .member {
              width: calc(33.33333% - 10px) !important;
            }
          }
        }
        &.contact {
          #contactForm {
            max-width: 500px !important;
            textarea {
              max-width: 470px !important;
              min-width: 470px !important;
            }
            #mapsBtn {
              position: absolute;
              bottom: 20px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .parallax__layer--back {
    -webkit-transform: translateZ(-0.2px) scale(1.7) !important;
    -moz-transform: translateZ(-0.2px) scale(1.7) !important;
    -ms-transform: translateZ(-0.2px) scale(1.7) !important;
    -o-transform: translateZ(-0.2px) scale(1.7) !important;
    transform: translateZ(-0.2px) scale(1.7) !important;
  }
  .detailed-project {
    box-shadow: none !important;
    padding: 90px 10px !important;
    &.active {
      right: 0 !important;
      width: 100%;
      .sidepanel {
        display: none;
      }
    }
    i.fa-times {
      display: block !important;
      font-size: 2em;
      position: absolute;
      top: 25px;
      right: 35px;
      z-index: 999;
      cursor: pointer;
    }
  }
  form input[type=submit] {
    min-width: 180px;
  }
  .main-container {
    header {
      &.small {
        padding: 20px 15px 16px !important;
        .hamburger {
          color: #000 !important;
        }
      }
      padding: 20px 15px 16px !important;
      ul#menu {
        display: block;
        position: fixed;
        background: white;
        display: inline-block;
        vertical-align: middle;
        margin: 10px 0;
        max-width: 260px;
        width: 100%;
        color: black;
        right: -260px;
        opacity: 0;
        top: -10px;
        z-index: -1;
        padding: 60px 0 30px 0;
        height: 100%;
        -webkit-transition: right 0.4s, opacity 0.4s ease-in-out;
        -moz-transition: right 0.4s, opacity 0.4s ease-in-out;
        -ms-transition: right 0.4s, opacity 0.4s ease-in-out;
        -o-transition: right 0.4s, opacity 0.4s ease-in-out;
        transition: right 0.4s, opacity 0.4s ease-in-out;
        &.active {
          opacity: 1 !important;
          right: 0px;
          -webkit-transition: right 0.4s, opacity 0.4s ease-in-out;
          -moz-transition: right 0.4s, opacity 0.4s ease-in-out;
          -ms-transition: right 0.4s, opacity 0.4s ease-in-out;
          -o-transition: right 0.4s, opacity 0.4s ease-in-out;
          transition: right 0.4s, opacity 0.4s ease-in-out;
        }
        li {
          display: block;
          padding: 20px 20px 0px 20px;
          text-align: left;
          a {
            color: #000000 !important;
            width: 100%;
          }
        }
      }
      .logo {
        width: 170px !important;
      }
      .hamburger {
        display: block !important;
      }
    }
    .windows {
      .window {
        .landing {
          height: 650px !important;
          .summary {
            width: 100% !important;
            padding: 30px 40px !important;
            padding: 30px 40px !important;

            h2 {
              font-size: 1.8em !important;
            }
          }
        }
        section {
          &.projects {
            .projectsContainer {
              .project {
                width: calc(50% - 10px);
                margin-bottom: 30px !important;
              }
            }
          }
          &#diensten {
            .dienstenContent {
              .dienstImage {
                width: 100% !important;
                margin: 50px 0 !important;
              }
            }
          }
          &.fullWidthImage {
            height: 250px !important;
          }
          &.contact {
            #contactForm {
              margin: 0 auto !important;
              position: relative !important;
              left: 0 !important;
              #mapsBtn {
                display: block !important;
                width: 210px;
                text-align: center;
                float: left;
              }
              textarea {
                max-height: unset !important;
                max-width: 100%;
                min-width: 100%;
              }
            }
            .googleMap {
              display: none !important;
            }
          }
        }
        footer {
          .inner.cols {
            display: block !important;
            -webkit-flex-wrap: wrap;
            -moz-flex-wrap: wrap;
            flex-wrap: wrap;
            .col {
              width: 100% !important;
            }
            .googleMap {
              margin-top: 20px;
              width: 100% !important;
            }
          }
        }
        .shade {
          height: 650px !important;
        }
        .video {
          left: 50% !important;
          top: 50% !important;
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          overflow: unset;
        }
      }
    }
    footer {
      .col {
        margin: 0 auto;
        text-align: center;
        h3 {
          text-align: center !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .detailed-project {
    max-width: calc(100% - 240px) !important;
    padding: 40px 80px !important;
    right: calc(-100% + 200px) !important;
    &.active {
      right: 240px !important;
    }
  }
  .sidepanel {
    > div {
      &.active {
        width: 200px;
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  body {
    &.window-open {
      .windows {
        overflow: hidden !important;
      }
    }
    &.safari.mobile {
      .landing {
        .btn#watchLandingVideo {
          display: inline-block !important;
        }
      }
    }
  }
  .inner {
    max-width: 768px;
    padding: 0 15px !important;
  }
  header {
    padding: 20px 40px !important;
  }
  .windows {
    overflow-y: scroll !important;
    .window {
      height: 350px !important;
      width: 100vw !important;
      &[data-order="2"] {
        top: 350px !important;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
      }
      &[data-order="3"] {
        top: 700px !important;
      }

      // ACTIVE
      &.active {
        position: fixed !important;
        top: 0 !important;
        height: 100vh !important;
        overflow-y: scroll !important;
      }

      section {
        &.diensten {
          .dienstenMenu {
            padding: 60px 0 !important;
            .inner {
              max-width: 610px !important;
              display: block !important;
              .subject {
                display: block !important;
                width: 100% !important;
                padding: 17px 0;
                margin-bottom: 4px;
                &.active {
                  background-color: rgba(0, 0, 0, 0.2);
                }
                img {
                  display: none !important;
                }
                span {
                  margin-top: 0 !important;
                }
              }
            }
          }
          .dienstenContentContainer {
            position: relative !important;
            width: 100%;
            height: auto;
            -webkit-transform: none !important;
            -moz-transform: none !important;
            -ms-transform: none !important;
            -o-transform: none !important;
            transform: none !important;
            display: block;
            left: 0 !important;
            top: 0 !important;
            box-shadow: none !important;
            .indicator {
              display: none !important;
            }
            .fa.fa-times {
              display: none;
            }
          }
        }
        &.projects {
          .projectsContainer {
            justify-content: space-between !important;
            .project {
              width: calc(calc(100% / 3) - 10px);
              margin-bottom: 50px;
            }
          }
        }
        &.teamPhotoSlider {
          height: 500px !important;
          .owl-item {
            img {
              height: 700px !important;
              min-width: 100%;
              min-height: 500px;
            }
          }
        }
        &.contact {
          #contactForm {
            left: 50px !important;
          }
        }
      }
      footer {
        .col:first-of-type {
          width: calc(50% - 20px) !important;
        }
        .googleMap {
          width: 50% !important;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .detailed-project {
    &.active {
      width: calc(100% - 340px);
    }
  }
}