$darkOrange: #c12f00;
$lightOrange: #ea5627;

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

::selection {
  background: $lightOrange; /* WebKit/Blink Browsers */
  color: #ffffff;
}

::-moz-selection {
  background: $lightOrange; /* Gecko Browsers */
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
}

a {
  text-decoration: none;
}

button, .btn, input[type=submit] {
  padding: 10px 15px;
  background-color: $lightOrange;
  color: #fff;
  display: inline-block;
  outline: none !important;
  border: 0 !important;
  border-radius: 0px !important;
  -webkit-appearance: none !important;
  text-transform: uppercase;
  font-weight: 600;
  font-family: Lato !important;
  font-size: 16px !important;
  height: auto !important;
  cursor: pointer;
  transition: background-color 0.4s ease-in-out;
  &:hover {
    background-color: $darkOrange;
    transition: background-color 0.4s ease-in-out;
  }
}

.subtitle {
  text-align: center;
  margin: -25px 0 50px;
}

.inner {
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  width: 100%;

  h2 {
    margin-bottom: 50px;
  }

  &.small {
    max-width: 610px;
  }
}

.cols {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
}

form {
  max-width: 500px;
  input[type=submit] {
    width: 100%;
    float: right;
  }
  input:not([type=submit]) {
    border: 1px solid #c5c5c5;
  }
  input {
    -webkit-appearance: none;
    outline: none;
    vertical-align: top;
    height: 35.5px;
    margin-bottom: 10px;
    padding: 8px;
    display: block;
    width: 100%;
  }
  textarea {
    max-width: 500px;
    min-width: 500px;
    width: 100%;
    margin-bottom: 10px;
    height: 185px;
    min-height: 185px;
    max-height: 185px;
    padding: 8px;
    font-family: Lato !important;
  }
}

// Loading container
#loading-container {
  //display: none;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 9999;
  &:after {
    content: '';
    background-color: #111111;
    width: 2px;
    position: absolute;
    opacity: 0;
    display: block;
    height: 100%;
    top: 0;
    left: 50%;
    z-index: 810;
    -webkit-transform: translateX(calc(-50% - 0.5px));
    -moz-transform: translateX(calc(-50% - 0.5px));
    -ms-transform: translateX(calc(-50% - 0.5px));
    -o-transform: translateX(calc(-50% - 0.5px));
    transform: translateX(calc(-50% - 0.5px));
  }
  &.play-animation {
    animation: fadeBG 1.5s linear;
    &:after {
      animation: splitScreen 2.8s linear;
    }
    .panel {
      &.left {
        left: -50%;
        animation: slideToLeft 3s linear;
      }
      &.right {
        right: -50%;
        animation: slideToRight 3s linear;
      }
    }
    .animation {
      .logo {
        bottom: 100px;
        animation: showLogo 2.5s ease-in-out;
      }
      svg #layer {
        fill: #111111;
        animation: colorLogo 1.5s ease-in-out;
      }
      .line {
        width: 0px;
        animation: shrinkLine 1.5s ease-in-out;
      }
      .largeLine {
        width: 0px;
        animation: shrinkLine 1.5s ease-in-out;
      }
    }
  }

  .panel {
    display: block;
    position: fixed;
    width: 50vw;
    height: 100vh;
    background-color: #2A2A2A;
    top: 0;
    z-index: 800;
    &.left {
      left: 0;
      //animation: slideToLeft 3s linear;
    }
    &.right {
      right: 0;
      //animation: slideToRight 3s linear;
    }
  }

  .animation {
    overflow: hidden;
    height: 200px;
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 900;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    .logo {
      width: 50px;
      height: 50px;
      position: absolute;
      opacity: 0;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      left: 50%;
      bottom: -50px;
      //animation: showLogo 3s ease-in-out;

      // Beeldmerk
      svg {
        height: 100%;

        // The svg layer
        #layer {
          //fill: #111111;
          //animation: colorLogo 1.5s ease-in-out;
        }
      }
    }

    // Loading indicator/line
    .line {
      width: 0px;
      position: absolute;
      left: 50%;
      bottom: 1px;
      height: 1px;
      background-color: #fff;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%);
      -webkit-transition: width 1.2s;
      -moz-transition: width 1.2s;
      -ms-transition: width 1.2s;
      -o-transition: width 1.2s;
      transition: width 1.2s;
      //animation: loadLine 5s ease-in-out;
    }

    .largeLine {
      background-color: #fff;
      height: 3px;
      width: 0px;
      position: absolute;
      bottom: 0px;
      left: 50%;
      -webkit-transform: translate(-50%, calc(-50% - -1.5px));
      -moz-transform: translate(-50%, calc(-50% - -1.5px));
      -ms-transform: translate(-50%, calc(-50% - -1.5px));
      -o-transform: translate(-50%, calc(-50% - -1.5px));
      transform: translate(-50%, calc(-50% - -1.5px));
      -webkit-transition: width 1.5s;
      -moz-transition: width 1.5s;
      -ms-transition: width 1.5s;
      -o-transition: width 1.5s;
      transition: width 1.5s;
      //animation: loadLine 5s ease-in-out;

    }
  }
}

.main-container {
  &.loaded {
    .windows {
      .window {
        //h2 {
        //  opacity: 1 !important;
        //  bottom: 100px !important;
        //  -webkit-transition: bottom 1s ease-in-out;
        //  -moz-transition: bottom 1s ease-in-out;
        //  -ms-transition: bottom 1s ease-in-out;
        //  -o-transition: bottom 1s ease-in-out;
        //  transition: bottom 1s ease-in-out;
        //}
        .summary {
          opacity: 1 !important;
          bottom: 10px !important;
          -webkit-transition: bottom 1s ease-in-out;
          -moz-transition: bottom 1s ease-in-out;
          -ms-transition: bottom 1s ease-in-out;
          -o-transition: bottom 1s ease-in-out;
          transition: bottom 1s ease-in-out;
        }
      }
    }
  }
  .toLandingpage {
    cursor: pointer;
  }
  header {
    z-index: 890;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 40px 60px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.0);
    box-shadow: none;
    -webkit-transition: opacity 1s, padding 0.5s, background-color 0.2s ease-in-out;
    -moz-transition: opacity 1s, padding 0.5s, background-color 0.2s ease-in-out;
    -ms-transition: opacity 1s, padding 0.5s, background-color 0.2s ease-in-out;
    -o-transition: opacity 1s, padding 0.5s, background-color 0.2s ease-in-out;
    transition: opacity 1s, padding 0.5s, background-color 0.2s ease-in-out;
    &.active {
      opacity: 1;
      -webkit-transition: opacity 1s ease-in-out;
      -moz-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
      -o-transition: opacity 1s ease-in-out;
      transition: opacity 1s ease-in-out;
    }
    &.small {
      background-color: rgba(255, 255, 255, 1);
      padding: 20px 60px;
      box-shadow: 0px -24px 47px 19px rgba(0, 0, 0, 0.30);
      -webkit-transition: padding 0.5s, background-color 0.2s ease-in-out;
      -moz-transition: padding 0.5s, background-color 0.2s ease-in-out;
      -ms-transition: padding 0.5s, background-color 0.2s ease-in-out;
      -o-transition: padding 0.5s, background-color 0.2s ease-in-out;
      transition: padding 0.5s, background-color 0.2s ease-in-out;

      .logo {
        .cls-1, .cls-2 {
          fill: $lightOrange;
        }
      }
      ul#menu li a {
        color: $lightOrange;
      }
    }
    .logo {
      float: left;
      width: 250px;
    }
    ul#menu {
      display: none;
      opacity: 0;
      float: right;
      display: inline-block;
      vertical-align: middle;
      margin: 10px 0;
      li {
        display: inline-block;
        a {
          color: white;
          text-decoration: none;
          padding: 12px 20px;
          cursor: pointer;
        }
        i.fa {
          color: #fff;
          cursor: pointer;
        }
      }
    }
    .hamburger {
      color: white;
      font-size: 2em;
      position: absolute;
      right: 30px;
    }
  }
  .windows {
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    .window {
      height: 100vh;
      width: calc(100% / 3);
      position: absolute;
      z-index: 10;
      -webkit-transition: box-shadow 1.5s, width 1.5s, left 1.5s, right 1.5s ease-in-out;
      -moz-transition: box-shadow 1.5s, width 1.5s, left 1.5s, right 1.5s ease-in-out;
      -ms-transition: box-shadow 1.5s, width 1.5s, left 1.5s, right 1.5s ease-in-out;
      -o-transition: box-shadow 1.5s, width 1.5s, left 1.5s, right 1.5s ease-in-out;
      transition: box-shadow 1.5s, width 1.5s, left 1.5s, right 1.5s ease-in-out;
      &:not(.active):hover {
        box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.5);
        z-index: 100 !important;
        -webkit-transition: box-shadow 0.4s ease-in-out;
        -moz-transition: box-shadow 0.4s ease-in-out;
        -ms-transition: box-shadow 0.4s ease-in-out;
        -o-transition: box-shadow 0.4s ease-in-out;
        transition: box-shadow 0.4s ease-in-out;
        //.shade {
        //  opacity: 0;
        //  -webkit-transition: opacity 0.4s ease-in-out;
        //  -moz-transition: opacity 0.4s ease-in-out;
        //  -ms-transition: opacity 0.4s ease-in-out;
        //  -o-transition: opacity 0.4s ease-in-out;
        //  transition: opacity 0.4s ease-in-out;
        //}
      }
      &[data-order="1"] {
        left: 0;
        .video-js {
          //transform: none !important;
          //right: 0;
          //left: auto !important;

          left: 0 !important;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          .vjs-poster {
            background-position: left;
          }
        }
      }
      &[data-order="2"] {
        left: 50%;
        -webkit-transform: translate(-50%);
        -moz-transform: translate(-50%);
        -ms-transform: translate(-50%);
        -o-transform: translate(-50%);
        transform: translate(-50%);
        .video-js {
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          left: 50%;
        }
      }
      &[data-order="3"] {
        right: 0;
        .video {
          right: 0 !important;
          left: unset !important;
          .video-js {
            //right: 0%;
            //left: auto;
            position: absolute;
            //transform: none !important;
            -webkit-transition: left 1.5s, right 1.5s ease-in-out;
            -moz-transition: left 1.5s, right 1.5s ease-in-out;
            -ms-transition: left 1.5s, right 1.5s ease-in-out;
            -o-transition: left 1.5s, right 1.5s ease-in-out;
            transition: left 1.5s, right 1.5s ease-in-out;

            right: 0 !important;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);

            .vjs-poster {
              background-position: right;
            }
            .vjs-tech {
              right: 0;
              left: auto;
            }
          }
        }
      }
      &.closing {
        h2.title {
          opacity: 0 !important;
          bottom: 70px !important;
        }
        .summary {
          opacity: 0 !important;
          bottom: -30px !important;
        }
        .scrollerMouse {
          opacity: 0 !important;
        }
      }
      &.active {
        background: #fff;
        width: 100% !important;
        -webkit-transition: box-shadow 1.5s, width 1.5s, left 1.5s, right 1.5s ease-in-out;
        -moz-transition: box-shadow 1.5s, width 1.5s, left 1.5s, right 1.5s ease-in-out;
        -ms-transition: box-shadow 1.5s, width 1.5s, left 1.5s, right 1.5s ease-in-out;
        -o-transition: box-shadow 1.5s, width 1.5s, left 1.5s, right 1.5s ease-in-out;
        transition: box-shadow 1.5s, width 1.5s, left 1.5s, right 1.5s ease-in-out;
        &[data-order="1"] {
          left: 0 !important;
          .landing {
            left: 0;
          }
          .video-js {
            //transform: none !important;
            //right: 0;
            //left: auto !important;
          }
        }
        &[data-order="2"] {
          .landing {
            position: unset;
            width: unset;
            top: unset;
          }
        }
        &[data-order="3"] {
          .landing {
            right: 0;
          }
          .video-js {
            //transform: none !important;
            //right: 0% !important;
            -webkit-transition: left 1.5s, right 1.5s ease-in-out;
            -moz-transition: left 1.5s, right 1.5s ease-in-out;
            -ms-transition: left 1.5s, right 1.5s ease-in-out;
            -o-transition: left 1.5s, right 1.5s ease-in-out;
            transition: left 1.5s, right 1.5s ease-in-out;
          }
        }
        section, footer {
          display: block !important;
        }
        .landing {
          height: 100%;
          width: 100vw;
          position: absolute;
          top: 0;

          h2.title {
            display: block;
            font-size: 4em;
            top: 0px;
            left: 0;
            width: 100%;
            text-align: center;
          }
          .summary {
            display: block;
            top: 30%;
            left: 50%;
            -webkit-transform: translate(-50%);
            -moz-transform: translate(-50%);
            -ms-transform: translate(-50%);
            -o-transform: translate(-50%);
            transform: translate(-50%);
            width: 700px;
            text-align: center;
            a.btn {
              display: inline-block;
            }
            span {
              display: none;
            }
          }
          .scrollerMouse {
            opacity: 1;
            bottom: 50px;
            -webkit-transition: bottom 1s ease-in-out;
            -moz-transition: bottom 1s ease-in-out;
            -ms-transition: bottom 1s ease-in-out;
            -o-transition: bottom 1s ease-in-out;
            transition: bottom 1s ease-in-out;
          }
        }
        //.shade {
        //  display: none;
        //}
      }
      .landing {
        h2 {
          opacity: 1;
          background: none;
          position: relative;
          //bottom: 70px;
          top: 0px;
          z-index: 820;
          line-height: 1em;
          color: white;
          text-transform: uppercase;
          text-align: left;
          font-size: 2.5em;
          font-weight: 700;
          -webkit-transition: bottom 1s ease-in-out;
          -moz-transition: bottom 1s ease-in-out;
          -ms-transition: bottom 1s ease-in-out;
          -o-transition: bottom 1s ease-in-out;
          transition: bottom 1s ease-in-out;
        }
        .summary {
          opacity: 0;
          position: absolute;
          bottom: -30px;
          padding: 40px 70px;
          width: 100%;
          left: 0;
          z-index: 820;
          color: white;
          line-height: 23px;
          -webkit-transition: bottom 1s ease-in-out;
          -moz-transition: bottom 1s ease-in-out;
          -ms-transition: bottom 1s ease-in-out;
          -o-transition: bottom 1s ease-in-out;
          transition: bottom 1s ease-in-out;

          a.btn {
            display: none;
          }
        }
        .scrollerMouse {
          opacity: 0;
          position: absolute;
          left: 50%;
          bottom: 20px;
          transform: translate(-50%);
          z-index: 820;
          -webkit-transition: bottom 1s ease-in-out;
          -moz-transition: bottom 1s ease-in-out;
          -ms-transition: bottom 1s ease-in-out;
          -o-transition: bottom 1s ease-in-out;
          transition: bottom 1s ease-in-out;

          img {
            filter: invert(100%);
            width: 35px;
            display: block;
            margin: 0 auto;
          }
          span {
            color: #fff;
            margin-top: 15px;
            display: block;
          }
        }
      }
      .shade {
        //background-color: #FF8634;
        opacity: 0.4;
        top: 0;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 815;
        position: absolute;
        cursor: pointer;
        background-size: 4px, cover;
        background-blend-mode: overlay;
        background-position: 50% 50%;
        background-image: url(../images/overlay.png);
        -webkit-transition: opacity 0.4s ease-in-out;
        -moz-transition: opacity 0.4s ease-in-out;
        -ms-transition: opacity 0.4s ease-in-out;
        -o-transition: opacity 0.4s ease-in-out;
        transition: opacity 0.4s ease-in-out;
      }
      .video {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        overflow: hidden;
        .video-js {
          top: 50%;
          min-height: 100%;
          min-width: 100vw;
          .vjs-control-bar {
            display: none;
          }
          .vjs-poster {
            background-size: cover !important;
          }
          .vjs-tech {
            min-width: 100vw !important;
            min-height: 100vh !important;
            //width: 100vw;
            height: auto !important;
            width: auto !important;
            //min-height: 100vh;
          }
        }
      }
      section {
        display: none;
        position: relative;
        padding: 100px 0;
        &.no-padding {
          padding: 0 !important;
        }
        &.diensten {
          .dienstenMenu {
            padding: 100px 0;
            background: $darkOrange;
            background-image: -moz-linear-gradient(153deg, $darkOrange, $lightOrange);
            background-image: -ms-linear-gradient(153deg, $darkOrange, $lightOrange);
            background-image: -o-linear-gradient(153deg, $darkOrange, $lightOrange);
            background-image: -webkit-gradient(linear,
                    right bottom, left top, from($darkOrange), to($lightOrange));
            background-image: -webkit-linear-gradient(153deg, $darkOrange, $lightOrange);
            background-image: linear-gradient(153deg, $darkOrange, $lightOrange);
            /* IE & older webkit don't fully support custom angles,
               we're using approximate values for them */
            box-shadow: inset 1px 29px 41px -29px rgba(0, 0, 0, 0.4);
            .inner {
              display: flex;
              display: -webkit-flex;
              justify-content: space-around;
              -webkit-justify-content: space-around;
              .subject {
                display: inline-block;
                width: 160px;
                text-align: center;
                cursor: pointer;
                img {
                  display: block;
                  margin: 13px auto 0;
                  background-color: rgba(0, 0, 0, 0.2);
                  border-radius: 100px;
                  width: 140px;
                  height: 140px;
                  padding: 33px;
                }
                span.subjectTitle {
                  color: white;
                  margin-top: 20px;
                  display: block;
                  font-size: 22px;
                  font-weight: 900;
                  text-transform: uppercase;
                }
              }
            }
          }
        }
        .dienstenContentContainer {
          position: relative;
          box-shadow: 1px 59px 71px 57px rgba(0, 0, 0, 0.4);

          .indicator {
            border-left: 30px solid transparent;
            border-right: 30px solid transparent;
            border-bottom: 30px solid white;
            position: absolute;
            top: -30px;
            left: 525px;
            -webkit-filter: drop-shadow(1px 5px 6px rgba(0, 0, 0, 0.4));
            filter: drop-shadow(1px 5px 6px rgba(0, 0, 0, 0.4));
            overflow: hidden;
          }

          .dienstenContent {
            display: none;
            padding: 100px 0;
            position: relative;
            text-align: left;

            &.active {
              display: block;
            }
          }
        }
        &.fullWidthImage {
          height: 400px;
          background-repeat: no-repeat;
          background-size: cover;
          box-shadow: 0 12px 31px 0px rgba(0, 0, 0, 0.18);
        }
        &.projects {
          //background: $darkOrange;
          //background-image: -moz-linear-gradient(153deg, $darkOrange, $lightOrange);
          //background-image: -ms-linear-gradient(153deg, $darkOrange, $lightOrange);
          //background-image: -o-linear-gradient(153deg, $darkOrange, $lightOrange);
          //background-image: -webkit-gradient(linear,
          //        right bottom, left top, from($darkOrange), to($lightOrange));
          //background-image: -webkit-linear-gradient(153deg, $darkOrange, $lightOrange);
          //background-image: linear-gradient(153deg, $darkOrange, $lightOrange);
          /* IE & older webkit don't fully support custom angles,
             we're using approximate values for them */
          color: #000;

          .inner > h2 {
            margin-bottom: 40px;
          }
          .projectsContainer {
            display: flex;
            display: -webkit-flex;
            justify-content: space-around;
            -webkit-justify-content: space-around;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;

            .project {
              width: 30%;
              display: inline-block;
              h3 {
                text-align: left;
                font-size: 1.5em;
              }
              p {
                line-height: 23px;
                font-size: 17px;
              }
              .projectImage {
                height: 200px;
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: cover;
              }
              a {
                color: $lightOrange;
                font-weight: 900;
                text-transform: uppercase;
                font-size: 12px
              }
            }
          }
        }
        &.about {
          .team {
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            //margin-top: 50px;
            .member {
              width: calc(25% - 10px);
              display: inline-block;
              overflow: hidden;
              margin: 5px;
              position: relative;
              &:hover {
                .info {
                  left: 0;
                }
              }
              .info {
                position: absolute;
                background: $lightOrange;
                padding: 12px 15px;
                bottom: 20px;
                color: #fff;
                display: block;
                width: 100%;
                left: -100%;
                transition: left 0.4s ease-in-out;
                .name {
                  font-weight: bold;
                }
                .function {

                }
                .phone {

                }
              }
              .picture {
                background-size: cover;
                background-repeat: repeat;
                background-position: 50%;
                width: 100%;
                display: block;
                filter: grayscale(1);
                transition: filter 0.3s ease-in-out;
                &:after {
                  content: '';
                  padding-bottom: 100%;
                  display: block;
                }
                &:hover {
                  filter: grayscale(0);
                }
              }
            }
          }
        }
        &.contact {
          position: relative;
          #contactForm {
            position: absolute;
            bottom: 0;
            left: calc((100% - 1024px) /2);
            display: block;
            z-index: 9;
            background: white;
            padding: 15px;
            max-width: 400px;
            textarea {
              max-width: 370px;
              min-width: 370px;
            }
          }
          #mapsBtn {
            display: none;
          }
          .googleMap {
            height: 600px !important;
            width: 100% !important;
          }
        }
      }
      footer {
        display: none;
        padding: 80px 0;
        .col {
          padding: 0 15px;
          h3 {
            text-align: left;
          }
          a.btn {
            margin-bottom: 10px;
          }
          .social-media {
            a > div {
              width: 50px;
              height: 50px;
              background-image: url("../images/social-media-icons.png");
              background-repeat: no-repeat;
              background-size: 180px;
              display: inline-block;
              &.facebook {
                background-position: -120px -62px;
              }
              &.twitter {
                background-position: -68px -11px;
              }
              &.linkedin {
                background-position: -16px -62px;
              }
            }
          }
        }
      }
    }
  }
}